@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');

:root{
    --independence: #3D4C68ff;
    --celtic-blue: #1E68D0ff;
    --little-boy-blue: #719FE0ff;
    --light-gray: #D0D0D0ff;
    --cultured: #F8F8F8ff;
    --white: #FFFFFFff;
    --black: #000101ff;
}


*,*::after,*::before{
  box-sizing: border-box;
  font-family:Helvetica, Arial,  sans-serif;
}

body{
  
  margin:0 auto;
  
}


h1,h2,h3,h4{
    font-family: 'Barlow Condensed', sans-serif;
    margin:0;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  

  
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  

 
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
 
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  a {
    background-color: transparent;
  }
  
  


 
  
  img {
    border-style: none;
    width: 100%;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
.container{

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }


header{
  background-color:var(--independence);
  position: sticky;
  top:0;
}
.logo{
  text-align: center;
  color:var(--white);
  letter-spacing: 0.1em;
}
.navbar{
  display:flex ;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;


}

nav>ul{
  display: flex;

 gap:3rem;


}
ul>li{
list-style: none;

}
nav>ul>li>a{
padding: 1rem 0.4rem;
text-decoration: none;
color:var(--white);
font-size: 0.75rem;

}
.navigation-toggle{
  display: none;
}




@media screen and (max-width:35em){
  .navigation{
    position: fixed;
    inset: -10% 0 ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--little-boy-blue);
    padding: inherit;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    
  }
  .navigation-toggle{
    display: block;
    position: absolute;
    background-color: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-position: center;
   right:2rem;
   z-index: 1000;
   fill: var(--white);
   background-image: url(../images/svgs/icon-hamburger.svg);
   fill: white;
  }
  .active{
    transform: translateX(0%);
  }
  .close{
    background-image: url(../images/svgs/icon-close.svg);
  }

}





section{
 height: 100vh;
width: 100%;
}
.s1{
  background-color: red;

}
.s2{
background-color: green;
}
.s3{
  background-color: orange;
  }
footer{
  background-color: var(--independence);
 
  
  
}

footer p{
  font-size: 0.75rem;
  color: var(--light-gray);
}
.footer-info,.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
}
.footer-links,.social-links{
  display: flex;
  gap:1rem;
  padding: 0%;
}
.footer-links>li>a{
  
 color: var(--light-gray);
 text-decoration: none;
 font-size: 0.5rem;
}
